/*
font-family: futura-pt,sans-serif;
font-weight: 400;
font-style: normal;

font-family: futura-pt,sans-serif;
font-weight: 300;
font-style: normal;

font-family: futura-pt-condensed,sans-serif;
font-weight: 400;
font-style: normal;

font-family: futura-pt-condensed,sans-serif;
font-weight: 800;
font-style: normal;
*/


* {
    font-family: futura-pt, sans-serif ;
    zoom: 100%;
    color: #333;
}

text {
  fill: #333;
}

.item::before {
  color: #333 !important;
}

#root {
  width: 100vw;
  height: 100vh;
}

h1,
h2,
p,
text {
    pointer-events: none;
}

h1 {
  font-family: futura-pt-condensed, sans-serif !important;
  font-size: 4rem !important;
  line-height: 39px !important;
  text-transform: uppercase;
}

h2 {
  font-family: futura-pt, sans-serif !important;
  font-weight: 300;
  font-size: 1.5rem !important;
  line-height: 0 !important;
}

.App {
  position: relative;
  width: 1200px;
  height: 700px;
  margin: 5vh auto 0 auto;
}

.header-section {
  position: absolute;
  width: 100%;
  height: 25%;
  top: 0;
  left: 0;
}

#paragraph {
  position: absolute;
  width: 60%;
  height: 25%;
  top: 100px;
}

#how-to {
  position: absolute;
  bottom: -11px;
  right: 34.3%;
}

#paragraph p {
 font-size: 14px !important;
}


.map-section {
  position: absolute;
  width: 400px;
  height: 400px;
  right: 0;
  top: 0;
  z-index: 99;
}

.linechart-section {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 25%;
  left: 0;
}

.credit-section {
  position: absolute;
  width: 100%;
  height: 5%;
  top: 95%;
  left: 0;
  text-align: center;
}
















/* END */
